apiVersion: kubekey.kubesphere.io/v1alpha2
kind: Cluster
metadata:
  name: sample-cluster
spec:
  hosts:
    - {name: k8s-master, address: 192.168.226.131, internalAddress: 192.168.226.131, user: caiqian, password: "caiqian"}
    - {name: k8s-node1,  address: 192.168.226.132, internalAddress: 192.168.226.132, user: caiqian, password: "caiqian"}
    - {name: k8s-node2,  address: 192.168.226.133, internalAddress: 192.168.226.133, user: caiqian, password: "caiqian"}

  roleGroups:
    etcd:
      - k8s-master
    control-plane:
      - k8s-master
    worker:
      - k8s-node1
      - k8s-node2

  controlPlaneEndpoint:
    domain: lb.kubesphere.local
    address: ""  # 单 Master 留空即可，或者填 Master IP
    port: 6443

  kubernetes:
    version: v1.26.5
    clusterName: cluster.local
    autoRenewCerts: true
    containerManager: containerd

  network:
    plugin: calico # 推荐使用 calico
    kubePodsCIDR: 10.233.64.0/18
    kubeServiceCIDR: 10.233.0.0/18

  registry:
    # 这一步非常重要！配置国内镜像加速，解决下载慢的问题
    registryMirrors:
      - https://docker.m.daocloud.io
      - https://huecker.io
      - https://mirror.baidubce.com

  addons:
    - name: kubesphere
      version: v3.4.1
    # ！！！这里一定要把 devops 加上，否则后面要手动开启很麻烦！！！
    - name: devops
      version: enabled